@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #1f242d;
  color: #fff;
  width: 100vw;
  overflow-x: hidden;

}

/*____________________________________ HEADER SECTION _____________________________________ */

header{
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 1.9rem;
  transition: .3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(.3s * var(--i));
}

.navbar a:hover{
  color: #02ECFF;
}

.navbar a.active{
  color: #02ECFF;
}

/* _______________________________HOME SECTION__________________________________________________ */

.home{
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding: 0.5rem 10% 0 5rem;
}

.home-img img{
  width: auto;
  height: auto;
  margin-right: -6rem;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: .1s, 3s;
  ;
}

.home-content{
  width: 55vw;
}

.home-content h3{
  font-size: 24px;
  font-weight: 600;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
  margin-bottom: 1.7rem;
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3 span{
  color: #02ECFF;
}

.home-content h1{
  font-size: 3rem;
  font-weight: 600;
  margin: -0.3rem 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: .1s;
}

.home-content p{
  font-size: 0.9rem;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: .1s;
}

.social-media a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: 2px solid #02ECFF;
  border-radius: 50%;
  font-size: 1.3rem;
  color: #02ECFF;
  text-decoration: none;
  margin: 1rem 0.9rem 1rem 0;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.1s * var(--i));
}

.social-media a:hover{
  background-color: #02ECFF;
  color: #1f242d;
  box-shadow: 0 0 1rem #02ECFF;
}

.btn{
  display: inline-block;
  padding: 1.1rem 1.5rem;
  margin-top: 0.7rem;
  background: #02ECFF;
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem #02ECFF;
  font-size: 1rem;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 700;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: .1s;
}

.btn:hover{
  background-color: #1f242d;
  color: #02ECFF;
  transition: .5s ease;
}

 /* ------------------------------------------ABOUT SECTION------------------------------------------  */

 .about{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
  margin-top: -30px;
 }

 .about-title{
  font-size: 2rem;
  text-decoration: none;
  animation: slideLeft 3s ease forwards;
  animation-delay: .3s;
  margin-top: -30px;
 }

 .about-p{
  text-align: center;
  font-size: 15px;
  animation: slideRight 3s ease forwards;
  margin-right: 190px;
  margin-left: 190px;
 }

 .about-p span{
  font-size: 1.1rem;
  color: #02ECFF;
  font-weight: 600;
  animation: slideBottom 4s ease forwards;
  animation-delay: .2s;
 }


 /* ----------------------------------------TOOGLE SECTION -----------------------------------------------*/

/* Estilos para el menú de hamburguesa */

.navbarToggle {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.menu a:hover {
  color: #02ECFF; /* Cambiar a tu color de acento preferido */
}

/* Estilo para dispositivos móviles */

@media screen and (max-width: 600px) {
  .navbarToggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .menu {
      display: none;
      flex-direction: column;
      background-color: #1f242d; 
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      z-index: 1;
  }

  .menu.active {
      display: flex;
  }

  .menu li {
      margin: 10px 0;
      padding-left: 1rem;
  }

  .menu-toggle {
      display: flex;
      transition: .3s;
      &:hover{
        transform: scale(0.98);
        transition: .3s;
      }
  }
}




 /* ----------------------------------------EDUCATION SECTION -----------------------------------------------*/

 .education{
  /* border: 1px solid white; */
  width: 100%;
  height: fit-content;

 }

  .education-title{
    font-size: 2rem;
    text-align: center;
    animation: slideLeft 3s ease forwards;
    margin-bottom: 40px;
  }


  .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
 
  }
  
  .gallery-item {
    /* flex: 0 1 200px; */
    width: 340px;
    height: 450px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    border: 1px solid #02eaff6f;
    border-radius: 10px;
    animation: slideRight .8s;
  }

  .div-img{
    /* border: 1px solid #02ECFF; */
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery-item img{
    width: 300px;
    height: 200px;
    transition: transform 0.3s ease;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
      transition: .3s;
    }
  }


  
  .item-description {
    /* border: 1px solid yellow; */
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .item-description h3 {
    margin: 0;
    font-size: 20px;
  }
  
  .item-description p {
    margin: 10px 0;
    font-size: 13px;
  }

  .div-btn-gallery{
    /* border: 1px solid #02ECFF; */
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 1rem;
  }

  .btn-certificado{
    border: 1px solid #02ECFF;
    padding: 0.1rem 0.5rem;
    border-radius: 10px;
    color: #02ECFF;
    font-size: 1.5rem;
    transition: .3s;
    &:hover{
      transform: scale(0.98);
      transition: .3s;
    }
  }

 /* ----------------------------------------SKILLS SECTION --------------------------------------------------*/
.skills{
  margin-top: 90px;
  width: 95vw;
  height: 100vh;
}


.gallery-skills{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-right: 80px;

}

.skills-title{
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  animation: slideRight 3s ease forwards;
  animation-delay: .3s;
  color: white;
  padding-bottom: 2rem;

 }

.skill p{
  text-align: center;
}

.icon{
  font-size: 9rem;
  color: #02ECFF;
  transition: .3s;
  opacity: 0;
  animation: slideLeft 2s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.icon:hover{
  color: whitesmoke;

}

 /* ----------------------------------------------PROJECTS SECTION----------------------------------------- */

 .projects{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 }

 .projects-title{
  color: #fff;
  font-size: 2rem;
  margin-bottom: 40px;
 }

 .projects-container{
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
 }

.tab-content{
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 400px;
  margin-bottom: 70px;
}

.div-title{
  /* border: 1px solid #02ECFF; */
  width: 100%;
  height: 10%;
}

.project-title{
  font-size: 20px;
  font-weight: 600
}

.info-video{
  /* border: 3px solid green; */
  display: flex;
  height: 80%;
}

.project-info{
  /* border: 1px solid red; */
  padding: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  font-size: 15px;
}

.repo{
  border: 1px solid #02ECFF;
  width: 100px;
  padding: 0.3rem;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #02ECFF;
  gap: 0.5rem;
  transition: .2s;
  &:hover{
    transform: scale(0.98);
    transition: .3s;
  }
}

.project-video{
  /* border: 1px solid yellow; */
  padding: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.video{
  width: 90%;
  height: auto;
}

.technologies{
  /* border: 2px solid rgb(205, 82, 102); */
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.technology{
  border: 1px solid #02ECFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  color: #02ECFF;
  padding: 10px;
  gap: 0.2rem;
}


 /*----------------------- CONTACT SECTION -----------------------------------------*/

 .contact{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 50px;
  margin-top: 10px;
 }

 .contact-title{
  font-size: 2rem;
 }

 .form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  background-color: #666163;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form label{
  color: #ffff;
}

.form .title {
  color: #02ECFF;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  display: inline-block;
  padding: 1rem 1.3rem;
  margin-top: 0.7rem;
  background: #02ECFF;
  border-radius: 2rem;
  /* box-shadow: 0 0 0.5rem #02ECFF; */
  border: none;
  font-size: 1rem;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 700;
  transition: .3s;
  &:hover{
    background-color: #1f242d;
    color: #02ECFF;
    transition: .5s ease;
    cursor: pointer;
  }
}
    

/*----------------------- FOOTER -----------------------------------------*/
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #02ECFF;
}

.social2 a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: 2px solid #02ECFF;
  border-radius: 50%;
  font-size: 1.3rem;
  color: #02ECFF;
  text-decoration: none;
  margin: 1rem 0.9rem 1rem 0;
  transition: .5s ease;
  &:hover{
    background-color: #02ECFF;
    color: #1f242d;
    box-shadow: 0 0 1rem #02ECFF;
  }
}

 /*----------------------- ANIMATIONS / TRANSITIONS -----------------------------------------*/
@keyframes slideRight {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
  
}

@keyframes floatImage{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-24px);
  }
  100%{
    transform: translateY(0);
  }
}

/*-----------------------------------------------------MEDIA QUERIES--------------------------*/

@media (300px <= width < 370px){
  header{
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .logo{
    visibility: hidden;

  }
    /*-_________ __________________NAVBAR_______________________________- */
  .navbar{
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -100px;
    width: 150vw; */
    display: none;
  }
  .navbar a {
    text-align: center;
    font-size: 0.68rem;
    display: none;
  }


  /*-___________________________________________HOME__________________________________- */
  .home{
    width: 150vw;
    height: auto;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid white; */
  }
  
  .home-img img{
    margin-top: 40px;

  }
  
  .home-content{
    width: 130vw;
  }
  
  .home-content h3{
    font-size: 1.3rem;
    font-weight: 600;
  }

  
  .home-content h1{
    font-size: 2.5rem;
  }
  
  .home-content p{
    font-size: 0.9rem;
  
  }

  /*-___________________________________________ABOUT__________________________________- */
  .about{
    /* border: 1px solid white; */
    width: 150vw;
    height: auto;
    margin-left: 20px;
   }
  
  
   .about-p{
    margin-right: -60px;
    margin-left: -80px;
   }
/*-___________________________________________EDUCATION__________________________________- */  
  

.education{
  /* border: 1px solid white; */
  width: 150vw;
  margin-left: 20px;
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 30px;
}



/*-___________________________________________SKILLS__________________________________- */  
.skills{
  margin-top: 90px;
  width: 150vw;
  height: auto;
  margin-left: 20px;
  /* border: 1px solid white; */
}


.icon{
  font-size: 7rem;
}

.icon:hover{
  color: whitesmoke;

}

/*-___________________________________________PROJECTS__________________________________- */  
.projects{
  width: 150vw;
  height: auto;
  margin-top: 100px;
  margin-left: 20px;
 }

 .projects-container{
  width: 130vw;
 }

 

.tab-content{
  width: 130vw;
  gap: 2rem;
  margin-bottom: 70px;
  border: 1px solid white;
  padding: 20px;
}

.info-video{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*-___________________________________________CONTACT__________________________________- */ 
.contact{
  width: 150vw;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
 }
.form{
  width: 120vw;
  height: auto;
}

/*-___________________________________________FOOTER__________________________________- */ 
footer{
  width: 100vw;
  height: auto;
}
}


/* _______________________________________DISPOSITIVOS 371PX/767PX WIDTH >= _______________________________________ */


@media (min-width: 371px) and (max-width: 767px){

  html, body{
    overflow-x: hidden;
  }

  header{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .logo{
    display: none;
  }
    /*-_________ __________________NAVBAR_______________________________- */
  .navbar{
    /* border: 1px solid white; */
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 0.5rem;
    display: none;
    
  }
  .navbar a {
    text-align: center;
    font-size: 10px;
    margin-bottom: 0.5rem;
  }


  /*-___________________________________________HOME__________________________________- */
  .home{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid white; */
    justify-content: center;
    margin-left: 0;
    margin-top: 40px;
  }
  
  .home-img img{
    margin-top: 30px;
    width: auto;
    height: auto;
    margin-left: -10px;

  }
  
  .home-content{
    width: 100%;
    margin-left: -15px;
  }
  
  .home-content h3{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
  }

  
  .home-content h1{
    font-size: 2.5rem;
    text-align: center;
  }
  
  .home-content p{
    font-size: 0.8rem;
    text-align: center;
  }

  .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn{
    margin-left: 35px;
  }

  /*-___________________________________________ABOUT__________________________________- */
  .about{
    /* border: 1px solid white; */
    width: 100vw;
    height: auto;
    margin-top: 12px;

   }
  
  
   .about-p{
    margin-right: -50px;
    margin-left: -50px;
   }
/*-___________________________________________EDUCATION__________________________________- */  
  

.education{
  /* border: 1px solid white; */
  width: 100vw;
}

.gallery {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-bottom: 30px;
}



/*-___________________________________________SKILLS__________________________________- */  
.skills{
  width: 100vw;
  height: auto;
  /* border: 1px solid white; */
  padding: 15px;
}

.icon{
  font-size: 6rem;
}


/*-___________________________________________PROJECTS__________________________________- */  
.projects{
  /* border: 1px solid white; */
  width: 100vw;
  height: auto;
  margin-top: 60px;
 }

 .projects-container{
  width: 100vw;
 }

 .tab-content{
   width: 100vw;
   height: 600px;
   margin-bottom: 70px;
   padding: 20px;
 }

 .div-title{
  /* border: 1px solid orange; */
  height: fit-content;
 }


.project-title{
  font-size: 15px;
}

.repo{
  width: 70px;
}

.info-video{
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-info{
  /* border: 1px solid red; */
  width: 100%;
  font-size: 12px;
  gap: 0.5rem;
}

.project-video{
  /* border: 1px solid green; */
  width: 100%;
}

.technologies{
  /* border: 1px solid purple; */
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.technology{
  width: fit-content;
  height: fit-content;
  padding: 0.3rem;
  font-size: 11px;
}







/*-___________________________________________CONTACT__________________________________- */ 
.contact{
  /* border: 1px solid white; */
  width: 100vw;
  height: auto;
  margin-top: 20px;
 }
.form{
  width: 80vw;
  height: auto;
}

/*-___________________________________________FOOTER__________________________________- */ 
footer{
  width: 100vw;
  height: auto;
}

.social2{
  display: flex;
  justify-content: center;
  align-items: center;
}
}

@media (min-width: 768px) and (max-width: 1024px){

  .header{
    /* border: 1px solid green; */
    padding: 0.1rem;
    display: flex;
    justify-content: center;
  }

  .logo{
      display: none;
  }

  .navbar{
    /* border: 1px solid white; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding: 1rem;
  }

  .navbar a{
    font-size: 15px;
  }

/*---------------------- HOME ---------------------------*/

.home{
  /* border: 1px solid white; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 0;
  padding: 0;
  padding-top: 4rem;
}

.home-content{
  /* border: 1px solid green; */
  width: 60%;
  padding-left: 1.5rem;
}

.home-img {
  /* border: 1px solid red; */
  margin-right: 0;
  padding: 0;
  width: 40%;
  height: 100%;
}

.home-img img{
  margin: 0;
  position: relative;
  top: 50px;
}

/* --------------------ABOUT------------------------ */

.about{
  /* border: 1px solid white; */
  padding: 3rem;
  margin: 0;
}

.about-title{
  margin: 0;
}

.about-p{
  margin: 0;
}




/* --------------------EDUCATION---------------------- */

.education{
  /* border: 1px solid white; */
  padding: 1rem 0;
}

.gallery{
  /* border: 1px solid blue; */
  margin: 0;
}


.skills{
  /* border: 1px solid white; */
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 5rem;
  
}

.gallery-skills{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 0;

}

/*-------------- --------PROJECTS-------------------- */
.projects{
  /* border: 1px solid white; */
  margin-top: 0;
}

.tab-content{
  /* border: 1px solid white; */
  height: 600px;
}

.div-title{
  /* border: 1px solid orange; */
  height: fit-content;
}

.project-title{
  font-size: 17px;
}

.project-info{
  /* border: 1px solid blue; */
  font-size: 14px;

}

.project-video{
  /* border: 1px solid red; */

}

.repo{
  height: fit-content;
}

.technology{
  height: fit-content;
  font-size: 15px;
}

/* -----------------------CONTACT-------------------- */

.contact{
  /* border: 1px solid white; */
  margin: 0;
  height: 100vh;
}


}